h4 {
    margin-top: 6px;
    font-weight: bold;
    color: darkmagenta;
}

.clear-button {
    position: absolute;
    font-size: 10px;
    right: 0px;
    top: 19px;
}

.director-select {
    width: 80%;
}