<ion-header mode="md" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="showBack" defaultHref='/tabs/wall' color="white"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="end" (click)="navigateToProfilePage()" class="profile-image circular--square">
      <ion-img *ngIf="showPhoto" [src]="userService.loggedUser.profileImageUrl"></ion-img>
    </ion-avatar>
    <ion-title>
      <div class="title-div">
        <div class="left">{{title}}</div>
        <div class="center">A.A.A.M.XIII.M.</div>
        <div class="right"></div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>