<app-header-menu title="Usuários {{teachesName}}"></app-header-menu>

<ion-content>
  <ion-searchbar type="text" debounce="500" (ionInput)="filterByName($event)" placeholder="Busca..." class="searchbarinput"></ion-searchbar>
  <ion-segment mode="md" *ngIf="userService.isAdministrator()" scrollable [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="all">
      Todos
    </ion-segment-button>
    <ion-segment-button value="unverified">
      Não verificados
    </ion-segment-button>
    <ion-segment-button value="student">
      Não Sócios
    </ion-segment-button>
    <ion-segment-button value="member">
      Sócios
    </ion-segment-button>
    <ion-segment-button value="director">
      Diretores
    </ion-segment-button>
    <ion-segment-button value="admin">
      Administradores
    </ion-segment-button>
  </ion-segment>
  <ion-list *ngIf="listLoading">
    <ion-item *ngFor="let item of [0, 1, 2]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!listLoading">
    <ion-item-sliding *ngFor="let user of users">
      <ion-item button [routerLink]="['/tabs/users/user-edit', user.id]">
        <ion-avatar slot="start">
          <ion-img [src]="user.profileImageUrl"></ion-img>
        </ion-avatar>

        <ion-label>
          {{ user.name }}
         <!-- <p>{{ user.description }}</p>
          <p>{{ user.createdAt | date: 'short' }}</p> -->
        </ion-label>

        <ion-icon *ngIf="user.verified" name="checkmark-circle-outline"></ion-icon>

       <!-- <ion-note color="primary" slot="end" *ngIf="user.price">{{ user.price | currency: 'BRL' }}</ion-note> -->
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="top" name="trash"></ion-icon>
          Excluir
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <p *ngIf="!listLoading && !users?.length" class="no-results">
    Não há resultados
  </p>
</ion-content>